/target
ca_uir/target
ca_parser/target
ca_parser_bison/target
ca_lexer_flex/target
ca_lexer/target
ca_backend_llvm/target
ca_driver/target
build/
.idea
main
a.out
perf.data.old
reference.ll
out.o
perf.data
flamegraph.svg
*.ll
*.out
*.dot